<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression suite">
    <test verbose="2" name="LoginTest">
        <classes>
            <class name="com.valeopartnersautmation.Reports.ReportClass"/>
            <class name="com.valeopartnersautmation.TestCase.BaseCase"/>
            <class name="com.valeopartnersautmation.TestCase.TestValeoReport"/>
            <class name="com.valeopartnersautmation.TestCase.TestValeoReport"/>
        </classes>
    </test>
</suite>